<% provide(:button_text, 'Update project') %>
<h1 class="edit_project">Update Project</h1>

<%= render 'form' %>

<%= link_to "delete", @project, method: :delete,
  data: { confirm: "Are you sure you want to permanently delete this project?" } %>
