<div class="sbed_body">
    <nav class="navbar navbar-fixed-top" id="sbed_navbar">
      <div class="container-fluid">
        <ul class="nav navbar-nav" id="sbed_nav">
          <li class='sbed_logo'>
            <a href="#"><%= image_tag 'sbed_logo.png' %>
            </a>
          </li>
          <li id="web-nav" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Web
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Website Builders</a></li>
              <li><a href="#">Hosting Providers</a></li>
            </ul>
          </li>
          <li id="phone-nav" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Phone
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Phone Systems</a></li>
              <li><a href="#">Live Answering Services</a></li>
            </ul>
          </li>
          <li id="marketing-nav" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Marketing
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Email Marketing</a></li>
              <li><a href="#">CRMs</a></li>
            </ul>
          </li>
          <li id="team-nav" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Team
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Virtual Assistants</a></li>
            </ul>
          </li>
          <li id="login" class="dropdown"><a href="#">Login</a></li>
        </ul>
      </div>
    </nav>

    <svg class="sbed_svg" accesskey=""xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width=100% viewBox="0 0 1920 1080">
      <defs>
        <linearGradient gradientTransform="matrix(0 .4393 -.4384 0 1173.902 833.72)" xlink:href="#a" id="g" x1="258.791" y1="778.143" x2="254.682" y2="758.498" gradientUnits="userSpaceOnUse"/>
        <linearGradient id="a">
          <stop offset="0" stop-color="#999"/>
          <stop offset="1" stop-color="#cdcdcd" stop-opacity="0"/>
        </linearGradient>
        <filter id="c" color-interpolation-filters="sRGB" x="0" width="1" y="0" height="1">
          <feMorphology result="result12" radius="19.622641509433965 1.0769230769230769" operator="dilate"/>
          <feTurbulence result="result1" baseFrequency="0 0.064754098360655751" seed="25"/>
          <feComposite in2="result1" operator="in" in="result12"/>
          <feColorMatrix result="result5" values="1 0 0 0 0.1 0 1 0 0 0.1 0 0 1 0 0.1 0 0 0 1 0"/>
          <feColorMatrix values="1.5 0 0 0 0 0 1.5 0 0 0 0 0 1.5 0 0 0 0 0 1 0" result="result8"/>
          <feMerge result="result6">
            <feMergeNode in="result8"/>
          </feMerge>
          <feTurbulence result="result9" baseFrequency="0 0.0918032786885246"/>
          <feComposite in2="result9" in="result12" operator="in"/>
          <feColorMatrix values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 -0.1"/>
          <feColorMatrix values="0.8 0 0 0 0 0 0.8 0 0 0 0 0 0.8 0 0 0 0 0 1.5 0" result="result5"/>
          <feMerge result="result9">
            <feMergeNode in="result5"/>
            <feMergeNode in="result6"/>
          </feMerge>
          <feTurbulence result="result11" numOctaves="10" type="fractalNoise" baseFrequency="0.0040983606557377051 0.017213114754098362"/>
          <feDisplacementMap in2="result11" scale="87.266" result="result10" in="result9"/>
          <feMerge result="result7">
          <feMergeNode in="SourceGraphic"/>
          <feMergeNode in="result10"/>
        </feMerge>
        <feComposite result="result13" operator="in" in2="SourceAlpha"/>
      </filter>
      <filter id="e" color-interpolation-filters="sRGB" x="0" width="1" y="0" height="1">
        <feMorphology result="result12" radius="19.622641509433965 1.0769230769230769" operator="dilate"/>
        <feTurbulence result="result1" baseFrequency="0 0.064754098360655751" seed="572"/>
        <feComposite in2="result1" operator="in" in="result12"/>
        <feColorMatrix result="result5" values="1 0 0 0 0.1 0 1 0 0 0.1 0 0 1 0 0.1 0 0 0 1 0"/>
        <feColorMatrix values="1.5 0 0 0 0 0 1.5 0 0 0 0 0 1.5 0 0 0 0 0 1 0" result="result8"/>
        <feMerge result="result6">
          <feMergeNode in="result8"/>
        </feMerge>
        <feTurbulence result="result9" baseFrequency="0 0.0918032786885246"/>
        <feComposite in2="result9" in="result12" operator="in"/>
        <feColorMatrix values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 -0.1"/>
        <feColorMatrix values="0.8 0 0 0 0 0 0.8 0 0 0 0 0 0.8 0 0 0 0 0 1.5 0" result="result5"/>
        <feMerge result="result9">
          <feMergeNode in="result5"/>
          <feMergeNode in="result6"/>
        </feMerge>
          <feTurbulence result="result11" numOctaves="10" type="fractalNoise" baseFrequency="0.0040983606557377051 0.017213114754098362"/>
          <feDisplacementMap in2="result11" scale="87.266" result="result10" in="result9"/>
          <feMerge result="result7">
          <feMergeNode in="SourceGraphic"/>
          <feMergeNode in="result10"/>
        </feMerge>
        <feComposite result="result13" operator="in" in2="SourceAlpha"/>
      </filter>
      <filter id="d" color-interpolation-filters="sRGB" x="0" width="1" y="0" height="1">
        <feMorphology result="result12" radius="19.622641509433965 1.0769230769230769" operator="dilate"/>
        <feTurbulence result="result1" baseFrequency="0 0.064754098360655751" seed="191"/>
        <feComposite in2="result1" operator="in" in="result12"/>
        <feColorMatrix result="result5" values="1 0 0 0 0.1 0 1 0 0 0.1 0 0 1 0 0.1 0 0 0 1 0"/>
        <feColorMatrix values="1.5 0 0 0 0 0 1.5 0 0 0 0 0 1.5 0 0 0 0 0 1 0" result="result8"/>
        <feMerge result="result6">
          <feMergeNode in="result8"/>
        </feMerge>
        <feTurbulence result="result9" baseFrequency="0 0.0918032786885246"/>
        <feComposite in2="result9" in="result12" operator="in"/>
        <feColorMatrix values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 -0.1"/>
        <feColorMatrix values="0.8 0 0 0 0 0 0.8 0 0 0 0 0 0.8 0 0 0 0 0 1.5 0" result="result5"/>
        <feMerge result="result9">
          <feMergeNode in="result5"/>
          <feMergeNode in="result6"/>
        </feMerge>
        <feTurbulence result="result11" numOctaves="10" type="fractalNoise" baseFrequency="0.0040983606557377051 0.017213114754098362"/>
        <feDisplacementMap in2="result11" scale="87.266" result="result10" in="result9"/>
        <feMerge result="result7">
          <feMergeNode in="SourceGraphic"/>
          <feMergeNode in="result10"/>
        </feMerge>
        <feComposite result="result13" operator="in" in2="SourceAlpha"/>
      </filter>
      <filter height="1" y="0" width="1" x="0" id="b" color-interpolation-filters="sRGB">
        <feTurbulence result="result0" baseFrequency=".4" numOctaves="3" type="fractalNoise"/>
        <feColorMatrix type="saturate" values="0" result="result4"/>
        <feComposite result="result2" k3=".5" k2=".5" k1="1.25" operator="arithmetic" in2="result4" in="SourceGraphic"/>
        <feBlend in2="SourceGraphic" in="result2" result="result5"/>
        <feComposite result="result3" operator="in" in2="SourceGraphic" in="result5"/>
      </filter>
      <filter id="f" color-interpolation-filters="sRGB" x="0" width="1" y="0" height="1">
        <feMorphology result="result12" radius="19.622641509433965 1.0769230769230769" operator="dilate"/>
        <feTurbulence result="result1" baseFrequency="0 0.064754098360655751" seed="25"/>
        <feComposite in2="result1" operator="in" in="result12"/>
        <feColorMatrix result="result5" values="1 0 0 0 0.1 0 1 0 0 0.1 0 0 1 0 0.1 0 0 0 1 0"/>
        <feColorMatrix values="1.5 0 0 0 0 0 1.5 0 0 0 0 0 1.5 0 0 0 0 0 1 0" result="result8"/>
        <feMerge result="result6">
          <feMergeNode in="result8"/>
        </feMerge>
        <feTurbulence result="result9" baseFrequency="0 0.0918032786885246"/>
        <feComposite in2="result9" in="result12" operator="in"/>
        <feColorMatrix values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 -0.1"/>
        <feColorMatrix values="0.8 0 0 0 0 0 0.8 0 0 0 0 0 0.8 0 0 0 0 0 1.5 0" result="result5"/>
        <feMerge result="result9">
          <feMergeNode in="result5"/>
          <feMergeNode in="result6"/>
        </feMerge>
        <feTurbulence result="result11" numOctaves="10" type="fractalNoise" baseFrequency="0.0040983606557377051 0.017213114754098362"/>
        <feDisplacementMap in2="result11" scale="87.266" result="result10" in="result9"/>
        <feMerge result="result7">
          <feMergeNode in="SourceGraphic"/>
          <feMergeNode in="result10"/>
        </feMerge>
        <feComposite result="result13" operator="in" in2="SourceAlpha"/>
      </filter>
    </defs>

  <path class="background" fill="#dffff9" d="M-2.8567-4.2135H1925.714V1079.653H-2.8568z"/>

  <g class="desk">
    <path d="M223.367 823.193v257.377h48.95V876.383h1409.24v204.187h48.95V823.193H223.366z" fill="#532412"/>
    <path fill="#eae1e2" stroke="#fff" stroke-width="1.538" stroke-opacity=".941" d="M272.96 878.115h378.718v66.487H272.96z"/>
    <rect width="236.376" height="9.828" x="344.453" y="878.115" ry="0"/>
    <path fill="#eae1e2" stroke="#fff" stroke-width="1.538" stroke-opacity=".941" d="M272.96 944.602h378.718v66.487H272.96z"/>
    <rect ry="0" y="944.602" x="344.453" height="9.828" width="236.376"/>
    <path fill="#eae1e2" stroke="#fff" stroke-width="1.538" stroke-opacity=".941" d="M272.96 1011.09h378.718v66.486H272.96z"/>
    <rect width="236.376" height="9.828" x="344.453" y="1011.089" ry="0"/>
    <path fill="#eae1e2" stroke="#fff" stroke-width="1.538" stroke-opacity=".941" d="M1302.06 877.588h378.717v66.487H1302.06z"/>
    <rect ry="0" y="877.588" x="1373.552" height="9.828" width="236.376"/>
    <path fill="#eae1e2" stroke="#fff" stroke-width="1.538" stroke-opacity=".941" d="M1302.06 944.075h378.717v66.487H1302.06z"/>
    <rect width="236.376" height="9.828" x="1373.552" y="944.075" ry="0"/>
    <path fill="#eae1e2" stroke="#fff" stroke-width="1.538" stroke-opacity=".941" d="M1302.06 1010.56h378.717v66.488H1302.06z"/>
    <rect ry="0" y="1010.562" x="1373.552" height="9.828" width="236.376"/>
    <path d="M223.816 824.533l175.555-79.198h1179.37l141.796 71.144 9.002 8.053z" fill="#552512"/>
  </g>

  <g class='bulletin_board'>
    <g transform="matrix(.67007 0 0 .59722 1071.897 175.5)">
      <path transform="matrix(1.08775 0 0 1.1025 -42.582 -37.476)" fill="#c78b4e" stroke="#b28271" stroke-width=".913" stroke-linecap="square" filter="url(#b)" d="M62.13 56.667h864.167v648.52H62.13z"/>
      <g fill="#532412" stroke="#b28271" stroke-width=".991">
        <path d="M131.852 301.493c-10.837 0-19.705.053-19.705.12 0 .065 8.868 8.686 19.705 19.16l19.668 19.363 818.18.357v-.692l19.693-19.028c10.838-10.473 19.705-19.094 19.705-19.16 0-.066-8.867-.12-19.705-.12H131.852z" filter="url(#c)" transform="matrix(1.05172 0 0 .96826 -93.792 -269.423)"/>
        <path transform="matrix(0 .96826 -1.05172 0 785.892 12.105)" d="M10.736 724.156c0 .066 8.867.12 19.705.12h704.193c10.837 0 19.703-.054 19.703-.12s-8.866-8.69-19.703-19.162l-19.678-19.014v-.705l-664.82.344-19.696 19.374c-10.837 10.472-19.705 19.096-19.705 19.162z" stroke-linecap="square" filter="url(#c)"/>
      </g>
      <g fill="#532412" stroke="#b28271" stroke-width=".991">
        <path transform="matrix(-1.05172 0 0 -.96826 1083.792 1034.423)" d="M131.852 301.493c-10.837 0-19.705.053-19.705.12 0 .065 8.868 8.686 19.705 19.16l19.668 19.363 818.18.357v-.692l19.693-19.028c10.838-10.473 19.705-19.094 19.705-19.16 0-.066-8.867-.12-19.705-.12H131.852z" filter="url(#d)"/>
        <path d="M10.736 724.156c0 .066 8.867.12 19.705.12h704.193c10.837 0 19.703-.054 19.703-.12s-8.866-8.69-19.703-19.162l-19.678-19.014v-.705l-664.82.344-19.696 19.374c-10.837 10.472-19.705 19.096-19.705 19.162z" transform="matrix(0 -.96826 1.05172 0 204.108 752.895)" stroke-linecap="square" filter="url(#e)"/>
      </g>
    </g>
  </g>

  <g class='bookshelf'>
    <path transform="matrix(.7491 0 0 .96826 566.443 -395.92)" d="M-455.9548 725.2283c-10.8374 0-25.099-.6633-25.099-.6633-.6772 13.931-.8583 21.1796-1.081 40.611l864.0276-.9477 39.4427.352c.4733-14.4038-.3533-25.5147-.0443-39.2328 0-.066-8.8676-.119-19.705-.119l-19.6934-.0002h-837.8476z" stroke="#b28271" stroke-width=".991" filter="url(#f)" fill="#532412"/>
  </g>

  <g class="books-group">
    <g class="other-books">
      <rect ry="5.9433" y="96.509" x="419.4287" height="209.2053" width="46.4496" fill="#ffffb3"/>
      <rect width="65.3677" height="163.4192" x="466.1647" y="142.8462" ry="4.6426" fill="#bebada"/>
      <rect ry="7.6907" y="35.5714" x="580.9791" height="270.7143" width="32.5105" fill="#b3de69"/>
      <rect ry="6.1155" y="-307.7143" x="530.5861" height="215.2662" width="50.4902" transform="scale(1 -1)" fill="#fb6a59"/>
      <rect transform="scale(1 -1)" width="50.4902" height="215.2662" x="613.4997" y="-305.7549" ry="6.1155" fill="#80b1d3"/>

      <path fill="#fff" fill-opacity=".941" d="M613.557 142.655h50.326v110.988h-50.326z"/>
      <path d="M613.376 120h49.668v-.724M613.376 130.607h49.668v-.725M613.376 125.303h49.668v-.724" fill="#fff" fill-opacity=".941" stroke="#fff" stroke-width="1.979"/>
      <path d="M613.376 125.303h49.668v-.724M613.376 267.482h49.668v-.724M613.376 278.09h49.668v-.725M613.376 272.786h49.668v-.725" fill="#fff" fill-opacity=".941" stroke="#fff" stroke-width="1.979"/>
      <path d="M530.294 131.384h49.417v-.725" fill="#fff" fill-opacity=".941" stroke="#fff" stroke-width="2.996"/>
      <path d="M613.443 151.88h47.398v-.74M613.443 243.047h47.398v-.74" fill="#fff" fill-opacity=".941" stroke="#fb6a59" stroke-width="5.929"/>
      <path d="M530.294 121.556h49.417v-.726M530.294 276.594h49.417v-.726M530.294 266.765h49.417v-.726" fill="#fff" fill-opacity=".941" stroke="#fff" stroke-width="2.996"/>
      <path fill="#4cc18e" d="M581.016 110.58h32.356v126.27h-32.356zM581.004 70.687h32.356v6.566h-32.356zM581.016 84.55h32.356v6.566h-32.356zM581.004 254.973h32.356v6.566h-32.356zM581.016 268.836h32.356v6.566h-32.356z"/>
      <path d="M466.05 157.67h62.518v-.65" fill="#fff" fill-opacity=".941" stroke="#fff" stroke-width="3.017"/>
      <path d="M465.812 167.52h61.258v-.658" fill="#fff" fill-opacity=".941" stroke="#fff" stroke-width="5.969"/>
      <path d="M466.05 292.132h62.518v.652" fill="#fff" fill-opacity=".941" stroke="#fff" stroke-width="3.017"/>
      <path d="M465.812 282.283h61.258v.658" fill="#fff" fill-opacity=".941" stroke="#fff" stroke-width="5.969"/>
      <ellipse cx="442.699" cy="140.053" rx="12.879" ry="22.728" fill="#4cc18e"/>
      <path d="M425.432 178.63h33.095v-.855M425.432 186.63h33.095v-.855M425.432 194.63h33.095v-.855M425.432 202.63h33.095v-.855" fill="#fff" fill-opacity=".941" stroke="#4cc18e" stroke-width="2.66"/>
    </g>

    <g class="single-book">
      <rect transform="scale(1 -1)" width="42.409" height="199.1038" x="762.9617" y="-305.7346" ry="5.6564" fill="#faa342"/>
      <path fill="#80b1d3" d="M763.088 133.214h42.27v66.607h-42.27z"/>
      <path d="M763.01 150.303h41.407v-.776M763.01 158.303h41.407v-.776M763.01 166.303h41.407v-.776M763.01 174.303h41.407v-.776M763.01 182.303h41.407v-.776" fill="#fff" fill-opacity=".941" stroke="#fff" stroke-width="1.87"/>
    </g>
  </g>

  <g class="rolodex">
    <path d="M1383.114 687.808c-4.138-.888-9.188 4.022-11.347 12.152-1.866 7.365.278 16.183 4.635 17.418l5.763.547 6.165-29.517-5.216-.6" fill="#1e5f49"/>
    <path d="M1388.33 688.408c-4.138-.888-9.188 4.022-11.348 12.152-1.865 7.364.28 16.182 4.635 17.418 3.974 1.09 9.754-3.892 11.148-12.316 1.412-8.242.086-16.218-4.435-17.254" fill="#14a876"/>
    <path d="M1391.127 692.558c-3.208-.794-7.417 3.298-9.005 9.714-1.46 5.852.143 12.88 3.734 13.822l4.468.488 4.888-23.683-4.085-.342" fill="#1e5f49"/>
    <path d="M1383.237 767.002c2.007-.194 3.797-.736 5.75-1.478 7.93-3.716 21.573-20.695 23.038-22.68l-5.186-4.1c-3.774 4.785-15.016 18.032-20.643 20.788-3.344 1.613-7.83.943-9.413-.193-3.55-2.42-5.67-7.188-6-12.498-.313-5.127 1.435-9.902 4.325-12.392 9.858-8.508 13.306-20.446 13.306-20.446-.937-3.962-4.315-2.714-4.315-2.714.018.183-2.217 9.425-13.52 18.257-4.625 3.58-6.908 10.432-6.566 17.767.342 7.335 3.752 14.004 8.885 17.56 2.366 1.61 6.322 2.517 10.337 2.128" fill="#14a876"/>
    <g class='paper'>
      <path d="M1390.554 677.14s6.303-9.083 18.03-7.825c12.11 1.405 44.75 5.61 44.75 5.61l-17.375 8.868-45.406-6.652" fill="#d9e3e8"/>
      <path d="M1381.932 734.526s1.254 7.246 13.687 10.093c8.094 1.794 44.027 9.548 44.027 9.548l-13.305-9.947-44.41-9.694" fill="#c7d3d8"/>
      <path d="M1435.927 711.978l.05-28.003s16.615-22.424 30.146 3.157c3.174 6.14 2.78 21.098 1.993 28.174-.952 7.276-4.883 21.84-9.48 27.627-19.905 24.586-32.11 1.27-32.11 1.27l8.566-27.54-43.686-7.922.4-5.38 44.12 8.618" fill="#93a2aa"/>
      <path d="M1390.554 677.14l1.07 26.238 44.303 8.6.05-28.003z" fill="#c7d3d8"/>
      <path d="M1381.932 734.526l44.41 9.695 8.75-27.556-43.87-7.906z" fill="#d9e3e8"/>
      <path d="M1417.798 722.577c.182-.018.365-.036.712-.254 1.06-.47 1.666-1.82 1.195-2.878 0 0-1.938-4.786-.885-9.125 1.09-3.973 3.98-6.464 3.98-6.464 1.023-.836 1.082-2.13.446-2.99-.836-1.024-2.13-1.083-3.173-.43-.165.2-4.297 3.18-5.59 8.83-1.478 5.67.948 11.698 1.148 11.863.29 1.076 1.255 1.535 2.168 1.447M1405.088 720.677c.182-.018.365-.035.712-.253 1.06-.47 1.666-1.82 1.195-2.88 0 0-1.937-4.785-.884-9.123 1.09-3.973 3.98-6.463 3.98-6.463 1.023-.836 1.082-2.132.446-2.99-.836-1.025-2.13-1.084-3.173-.43-.165.2-4.297 3.18-5.59 8.83-1.478 5.67.948 11.697 1.148 11.862.272.894 1.256 1.535 2.168 1.447" fill="#3e4347"/>
    </g>
    <path d="M1450.53 703.01c-3.207-.793-7.416 3.298-9.004 9.715-1.46 5.852.143 12.88 3.734 13.822l6.145.693 5.254-23.718-6.13-.51" fill="#1e5f49"/>
    <path d="M1460.844 701.09c-4.138-.888-9.188 4.022-11.348 12.152-1.865 7.365.28 16.183 4.635 17.418l5.765.547 6.147-29.7-5.198-.417" fill="#14a876"/>
    <path d="M1466.042 701.508c-4.138-.89-9.188 4.022-11.348 12.15-1.865 7.366.28 16.184 4.635 17.42 3.973 1.088 9.753-3.893 11.147-12.317 1.43-8.058.086-16.217-4.435-17.252" fill="#1e5f49"/>
    <path d="M1442.495 783.548c10.95-1.06 23.656-16.292 27.51-24.033 2.15-4.445 1.265-7.86.158-9.778-2.414-4.003-7.37-5.733-11.527-6.804l-5.344 5.676c3.155.246 9.354 1.487 11.115 4.448.218.347.87 1.39-.377 3.72-3.69 7.542-14.855 19.676-22.154 20.383-3.65.355-6.564-1.205-8.396-4.896-3.644-7.2-1.98-20.438 7.043-29.97 5.015-5.275 7.574-13.075 7.332-17.473 0 0-1.048-3.213-3.732-2.4 0 0-4.596 11.498-8.44 15.554-11.365 11.97-12.546 28.293-7.995 37.246 2.774 5.81 8.237 8.965 14.807 8.328" fill="#14a876"/>
  </g>

  <g class="plant">
    <path d="M370.492 116.15c-10.272 9.517-17.103 20.123-21.6 30.512-2.3 5.305-3.987 10.558-5.217 15.582l.005.01c-5.17 4.196-9.967 9.328-13.98 15.595-3.404 5.3-6.24 11.417-8.263 18.468l.624-12.713c.01-.41.024-.812.048-1.216 1.943-44.845 47.65-65.91 48.384-66.24z" fill="#4cc18e"/>
    <path d="M322.06 183.605l-.623 12.713h-.005c-4.17-14.544-11.798-25.098-20.67-32.755v-.005c-1.165-5.037-2.785-10.32-5.02-15.675-4.478-10.78-11.436-21.84-22.112-31.732.737.33 46.61 21.47 48.398 66.488.014.32.024.643.033.967z" fill="#4cc18e"/>
    <path d="M343.68 162.254c-5.17 4.197-9.968 9.328-13.982 15.595-3.404 5.3-6.24 11.417-8.263 18.468h-.005c-4.168-14.544-11.797-25.097-20.67-32.755v-.004c-23.483-20.273-55.694-20.273-55.694-20.273 48.825 16.277 61.346 65.102 61.346 65.102v.36H336.457v-.36s12.522-48.826 61.347-65.103c0 0-30.807 0-54.125 18.967z" fill="#4cc18e"/>
    <path d="M343.675 162.244l.005.01c-5.17 4.196-9.967 9.328-13.98 15.595-3.404 5.3-6.24 11.417-8.263 18.468h-.005c-4.17-14.544-11.798-25.098-20.67-32.755v-.005c-1.165-5.037-2.785-10.32-5.02-15.675 1.71 1.216 3.385 2.525 5.02 3.94v.003c8.872 7.657 16.5 18.21 20.67 32.755h.005c.187-.656.385-1.304.59-1.942.02-.085.048-.165.08-.25 1.954-6.135 4.545-11.534 7.592-16.276 4.013-6.267 8.81-11.4 13.98-15.596 1.7-1.385 3.44-2.666 5.21-3.854-2.3 5.305-3.985 10.558-5.215 15.582z" fill="#44b27d"/>
    <path d="M365.2 205.116l-6.897 74.092c-.437 4.68-2.432 8.873-5.45 12.07h-62.835c-3.02-3.197-5.014-7.39-5.45-12.07l-6.897-74.092H365.2" fill="#f24125"/>
    <path d="M295.04 205.116h-17.37l6.898 74.092c.436 4.68 2.43 8.873 5.45 12.07h17.37c-3.018-3.197-5.013-7.39-5.45-12.07l-6.897-74.092" fill="#dd3b2a"/>
    <path d="M374.256 288.93v1.213c0 9.332-7.568 16.9-16.9 16.9h-71.84c-9.333 0-16.9-7.568-16.9-16.9v-1.212H374.254" fill="#f7b239"/>
    <path d="M285.046 288.93h-16.43v1.213c0 9.332 7.567 16.9 16.9 16.9h16.43c-9.332 0-16.9-7.568-16.9-16.9v-1.212" fill="#e5a030"/>
  </g>

  <g class="computer">
    <g transform="matrix(7.62338 0 0 7.62338 729.652 346.228)">
      <path d="M7.3 53.8h49.4c.8 0 1.4-.6 1.4-1.4v-33c0-.8-.6-1.4-1.4-1.4H7.3c-.7 0-1.3.6-1.3 1.4v33c0 .8.6 1.4 1.3 1.4M2 58.7C2 60.3 3.3 62 5 62h54c1.6 0 3-1.7 3-3.3H2z" fill="#212528"/>
      <path d="M57 53.8H7l-5 4.9h60z" fill="#ddd"/>
      <path d="M55.3 54.2H8.7l-1.7 2h50z" fill="#bfbebe"/>
      <path d="M37.1 57.1H26.9l-.8 1.1h11.8z" fill="#212528"/>
      <circle r=".8" cy="19.6" cx="32" fill="#ddd"/>
      <path d="M36.3 60.8h-8.6c-.3 0-1.1 0-1.1-1h10.8c0 1-.8 1-1.1 1" fill="#3e4347"/>
    </g>

    <g class="mouse">
      <path d="M1225.865 805.255c12.416-49.033 114.555-56.576 126.845-.13 6.354 29.187-95.265.722-126.845.13z" fill="#bfbebe"/>
      <path d="M1239.993 782.24c-.013.006 51.95-45.273 97.38-3.496 15.843 14.568-28.887 16.61-31.487 7.378-5.623-19.964-65.893-3.882-65.893-3.882z" fill="#ddd"/>
    </g>
  </g>

  <g class="screen-on">
    <path transform="matrix(7.62338 0 0 7.62338 729.652 346.228)" d="M9 21h46v29.8H9z" fill="#0a81a6"/>
    <g transform="translate(253.283 127.262) scale(.8402)">
      <path d="M1001.68 700.4383H713.071c-6.704 0-12.14-5.435-12.14-12.14v-203.278c0-6.704 5.435-12.138 12.14-12.138h288.611c6.704 0 12.14 5.435 12.14 12.138v203.278c0 6.704-5.437 12.14-12.142 12.14z" fill="#d0d1d3"/>
      <circle r="6.896" cy="487.1043" cx="717.7391" fill="#f24125"/>
      <circle r="6.896" cy="487.1043" cx="741.4431" fill="#faa342"/>
      <circle r="6.896" cy="487.1043" cx="765.1472" fill="#4cc18e"/>
      <path d="M994.426 493.1383H785.834c-3.332 0-6.034-2.701-6.034-6.034 0-3.332 2.701-6.034 6.034-6.034h208.593c3.332 0 6.034 2.701 6.034 6.034-.001 3.333-2.702 6.034-6.035 6.034zM714.292 506.4983h286.168v181.01H714.292z" fill="#fff"/>
      <path d="M744.029 667.9295c-3.332 0-6.034-2.4768-6.034-5.533v-88.5238c0-3.0554 2.701-5.533 6.034-5.533 3.333 0 6.034 2.4767 6.034 5.533v88.5238c0 3.0563-2.702 5.533-6.034 5.533z" fill="#80b1d3"/>
      <path d="M790.574 667.9295c-3.332 0-6.034-2.103-6.034-4.698v-75.1652c0-2.5942 2.701-4.698 6.034-4.698 3.333 0 6.034 2.103 6.034 4.698v75.165c0 2.5952-2.701 4.6982-6.034 4.6982z" fill="#fb6a59"/>
      <path d="M766.44 667.9295c-3.332 0-6.034-2.701-6.034-6.034v-48.269c0-3.332 2.701-6.034 6.034-6.034 3.333 0 6.034 2.701 6.034 6.034v48.269c-.001 3.333-2.702 6.034-6.034 6.034z" fill="#faa342"/>
      <g fill="#a6a8aa">
        <path d="M956.931 593.5563H843.154c-1.903 0-3.448-1.545-3.448-3.448s1.545-3.448 3.448-3.448h113.778c1.903 0 3.448 1.545 3.448 3.448s-1.545 3.448-3.449 3.448zM900.042 607.3473h-56.889c-1.903 0-3.448-1.545-3.448-3.448s1.545-3.448 3.448-3.448h56.889c1.903 0 3.448 1.545 3.448 3.448s-1.544 3.448-3.448 3.448zM928.487 621.1383h-85.333c-1.903 0-3.448-1.545-3.448-3.448s1.545-3.448 3.448-3.448h85.333c1.903 0 3.448 1.545 3.448 3.448s-1.545 3.448-3.448 3.448zM956.931 636.6533H843.154c-1.903 0-3.448-1.545-3.448-3.448s1.545-3.448 3.448-3.448h113.778c1.903 0 3.448 1.545 3.448 3.448s-1.545 3.448-3.449 3.448zM900.042 650.4453h-56.889c-1.903 0-3.448-1.545-3.448-3.448s1.545-3.448 3.448-3.448h56.889c1.903 0 3.448 1.545 3.448 3.448s-1.544 3.448-3.448 3.448zM928.487 664.2363h-85.333c-1.903 0-3.448-1.545-3.448-3.448s1.545-3.448 3.448-3.448h85.333c1.903 0 3.448 1.545 3.448 3.448s-1.545 3.448-3.448 3.448z"/>
      </g>
    </g>
    <g style="line-height:125%" font-size="22.5" font-family="Helvetica" letter-spacing="0" word-spacing="0" font-weight="bold">
      <path d="M971.0655 574.0343l2.1424 9.2725.4613 2.5818.4724-2.527 1.8237-9.3273h3.5706l1.9226 9.2725.4944 2.5818.4944-2.483 2.1643-9.3713h3.4387l-4.5593 16.194h-3.23l-1.9555-9.4703-.5713-3.1312-.5712 3.1312-1.9556 9.4702h-3.142l-4.5924-16.194h3.5925zM1002.058 576.9017h-8.5694v3.4388h7.8662v2.8125h-7.8662v4.1638h8.965v2.9114h-12.2718v-16.194h11.8762v2.8675zM1008.397 576.8468v3.5706h3.977q1.0658 0 1.725-.3955.6702-.4066.6702-1.4284 0-1.1315-.879-1.494-.758-.2528-1.9335-.2528h-3.5596zm0 6.2512v4.3177h3.977q1.0658 0 1.659-.2857 1.0767-.5273 1.0767-2.0215 0-1.2634-1.0437-1.7358-.5822-.2637-1.637-.2747h-4.032zm4.6363-9.0637q2.9773.044 4.2188 1.725.747 1.0326.747 2.4718 0 1.4832-.747 2.384-.4174.5055-1.2304.923 1.2415.4504 1.8677 1.4282.6372.9778.6372 2.373 0 1.4393-.725 2.5818-.4615.758-1.1537 1.2745-.78.5932-1.8457.813-1.0546.2197-2.296.2197h-7.339v-16.194h7.8663zM1023.822 585.2294q.1537 1.1096.6042 1.659.824.9997 2.8234.9997 1.1976 0 1.9446-.2636 1.4173-.5054 1.4173-1.8787 0-.802-.7032-1.2414-.703-.4285-2.2082-.758l-1.7138-.3846q-2.5268-.5713-3.4936-1.2414-1.637-1.1207-1.637-3.5047 0-2.1753 1.582-3.6145 1.582-1.439 4.6473-1.439 2.5597 0 4.3614 1.3622 1.8128 1.3513 1.9007 3.933h-3.252q-.088-1.461-1.2743-2.0763-.791-.4066-1.9666-.4066-1.3072 0-2.0873.5273-.78.5274-.78 1.4722 0 .8678.769 1.2963.4944.2856 2.1094.6702l2.7907.67q1.8347.4396 2.7685 1.1757 1.4502 1.1426 1.4502 3.307 0 2.219-1.703 3.6913-1.6918 1.461-4.79 1.461-3.164 0-4.9767-1.439-1.8128-1.4503-1.8128-3.977h3.23zm3.2848-11.6895zM1039.4555 590.2282h-3.362v-16.194h3.362v16.194zm-1.681-16.5125zM1054.408 574.0343v2.8674h-4.845v13.3265h-3.406v-13.3265h-4.8668v-2.8674h13.1177zM1068.3715 576.9017h-8.5694v3.4388h7.8664v2.8125h-7.8663v4.1638h8.965v2.9114h-12.2717v-16.194h11.8762v2.8675z" style="-inkscape-font-specification:'Helvetica Bold'"/>
    </g>
    <g style="line-height:125%" font-size="30" font-family="Scriptina Pro" letter-spacing="0" word-spacing="0" stroke-width=".2" font-weight="300">
      <path d="M937.0232 576.6604c.66-.81 1.62-1.71 2.88-2.67 1.47-1.14 2.58-2.3414 3.36-2.3414.57 0 .81.9614.69 1.6214-.48 2.73-2.46 7.41-5.91 13.98-.03.12-.06.18-.06.24 0 .21.15.3.48.3.39 0 .72-.12.93-.39 2.64-3.48 5.67-6.9 9.15-10.32 3.9-3.84 6.75-6.03 8.58-6.51.33-.09.63-.12.84-.12.4466 6.7003-7.2432 12.1428-7.26 19.17.0746 1.1484.6274 1.686 1.44 2.04 2.0097-.8207 3.3592-2.0626 4.68-3.69.6036-.8767-.2607-.2317-.27-.24-1.2624 1.4348-2.5474 2.4132-4.306 3.0914-.63.15-.7515-.001-.7515-.7814 1.24-7.044 8.1317-14.183 7.9493-19.7518-3.1067-2.8008-9.8064 3.8648-11.4047 5.3993-3.0574 2.852-5.5596 6.245-7.6703 9.1938-.3 0-.1368-.001.0132-.3314 2.49-5.16 4.5396-10.294 4.8396-12.604.09-.75-.9425-1.6046-1.7525-1.6046-1.02 0-3.117 2.5386-5.667 4.7586 1.38-3.27 2.16-5.79 2.25-7.47.03-.54-.27-1.05-.93-1.56-.63-.48-1.23-.72-1.86-.69-1.29.09-3.12.84-5.4 2.22-2.28 1.35-4.26 2.88-5.94 4.56-1.83 1.86-2.76 3.42-2.76 4.68 0 .78.63 1.59 1.05 1.74.36.12.69.12 1.02 0 .3-.09.48-.18.48-.27 0-.06-.15-.09-.42-.06-.15.03-.51 0-1.02-.18-.48-.15-.75-.42-.75-.75 0-1.77 2.053-3.723 5.623-6.513 3.48-2.73 6.047-4.557 8.207-4.797 1.47-.15 2.04.27 2.04 1.62 0 .72-.27 1.92-.81 3.6-.6 1.77-1.32 3.54-2.19 5.22-2.01 1.95-3.9 4.02-5.61 6.27-2.13 2.79-3.24 4.77-3.24 6 0 .42.06.66.24.66.735-.163 1.1878-.517 1.8-.99 2.22-2.4 4.71-6.33 7.44-11.73zm-7.443 11.1468c-.15.21-.687.5532-.807.5532-.24 0-.27-.27-.06-.81.54-1.53 1.8285-3.256 3.4485-5.386 1.41-1.89 2.4915-3.434 3.6315-4.424-.45 1.11-1.44 2.85-2.94 5.19-1.47 2.34-2.343 3.8568-3.273 4.8768z" style="-inkscape-font-specification:'Scriptina Pro Light'"/>
      <path d="M963.862 589.0804c-5.97 1.17-11.7 2.85-17.22 5.01-8.04 3.18-12.84 6.54-14.4 10.14-.3.72-.45 1.47-.45 2.25 0 2.37.7835 4.9464 3.1835 6.8364 2.4 1.92 5.4864 2.3436 8.3664 2.1636 8.4-.54 15.54-9.21 21.45-26.04 2.31-.48 5.28-.72 8.88-.72.93 0 1.65.03 2.22.06l.06-.48c-.54-.09-1.29-.18-2.28-.18-2.73 0-5.64.27-8.73.84.87-2.58 1.5-4.59 1.89-6.03.18-.36.33-.57.48-.75.09-.39-.3-.84-.96-.81-.27.03-.57.33-.75.69-.54.51-1.5 1.23-2.82 2.16-1.68 1.17-2.97 1.89-3.9 2.25-.15.06-.36.06-.54 0-.15-.06-.24-.21-.24-.39 0-.09.03-.24.09-.39.36-.72.96-1.71 1.8-2.94.96-1.35 1.68-2.16 2.1-2.34-.03-.33-.18-.51-.48-.48-.18.03-.63.21-1.32.51-.69.3-1.05.51-1.14.66-.12.24.03.93-.06 1.08-1.68 3.03-2.61 4.8-2.73 5.22-.09.27.21.63.57.63.09 0 .18-.03.27-.06 1.14-.45 2.67-1.32 4.59-2.61 1.47-.99 2.7-1.92 3.66-2.76-.06.54-.24 1.47-.57 2.82-.36 1.53-.69 2.73-1.02 3.66zm-30.87 15.96c1.32-3.33 5.22-6.48 11.76-9.48 5.49-2.52 11.82-4.5 18.99-5.97-1.74 5.34-3.96 10.17-6.66 14.52-4.35 7.02-8.97 10.65-13.8 10.83-2.82.12-5.4887-.5115-7.6787-2.1915-2.1-1.62-3.0014-3.6586-3.0014-5.7886 0-.66.15-1.29.39-1.92z" style="-inkscape-font-specification:'Scriptina Pro Light'"/>
    </g>
    <ellipse cx="895.708" cy="580.6775" rx="17.9667" ry="17.5" fill="#4cc18e"/>
    <ellipse cx="900.9626" cy="583.1318" rx="12.0283" ry="12.5" fill="#b3de69"/>
  </g>

  <path class="screen-off" transform="matrix(7.62338 0 0 7.62338 729.652 346.228)" d="M9 21h46v29.8H9z" fill="#3e4347"/>

  <path class="light" d="M721.4286 528.5714L902.857 795.7142l301.4287-1.4285-457.1428-297.143z" fill="#ffffdf" />


  <g class="lamp">
    <g transform="matrix(-1.31308 0 0 1.31308 669.332 -30.828)">
      <path d="M.505 358.498l6.314-6.313 2.524 2.525-5.05 5.81z" fill="#ecdfde"/>
      <ellipse class="bulb" ry="15.531" rx="15.657" cy="413.678" cx="-51.77" fill="#fff"/>
      <path d="M73.236 618.613l17.678-140.16-9.344-1.514-17.678 140.41 8.334 1.263z" fill="#bbadae"/>
      <path d="M84.348 480.727l-16.92 134.35-5.556-4.545 15.657-132.33z" fill="#ecdfde"/>
      <path d="M23.393 404.82l64.643 56.787-6.965 8.572-66.606-60.36z" fill="#bbadae"/>
      <path d="M14.643 413.214l60.536 53.75 4.463-4.643-61.25-54.82z" fill="#ecdfde"/>
      <path d="M6.82 630.23c21.746-28.983 79.623-24.51 96.973-.253 1.8 2.517-100.2-.498-96.974.253z" fill="#bbadae"/>
      <path d="M7.143 629.82c4.45-17.957 60.612-32.083 81.25.894.73 1.166-81.25-.93-81.25-.893z" fill="#ecdfde"/>
      <path fill="#bbadae" d="M4.81 382.373l23.688 21.2-14.535 16.24-23.688-21.2z"/>
      <path fill="#ecdfde" d="M-9.915 398.927l23.833 21.993 8.683-10.487L-1.23 388.44z"/>
      <ellipse cx="84.941" cy="470.289" rx="14" ry="14" fill="#ecdfde"/>
      <circle r="8.5" cy="470.08" cx="84.893" fill="#bbadae"/>
      <path d="M-72.226 390.858l43.732 45.17 45.162-63.422-25.064-25.472z" fill="#ecdfde"/>
      <path d="M-50.508 413.3l21.466 23.233L16.92 372.64 3.03 359.005z" fill="#bbadae"/>
      <path d="M6.82 628.967l96.72.505z" fill="#bdaca8"/>
    </g>
  </g>

  <g class="tray">
    <path d="M371.715 718.478v48.78L262.593 816.82v-64.907z" fill="#89664c"/>
    <path d="M371.715 718.478h171.352v48.385H371.715z" fill="#b77e58"/>
    <path d="M371.715 767.257l-109.122 49.565h234.46l46.014-49.565z" fill="#f2bc97"/>
    <path d="M417.73 751.915s-1.315 27.536-7.45 32.65c-11.832 10.228-48.644 10.228-60.915 0-6.136-5.114-7.45-32.65-7.45-32.65h-79.322v64.907h234.46v-64.907H417.73z" fill="#d3976e"/>
    <path d="M543.067 767.257l-46.015 49.565v-64.907l46.015-33.437z" fill="#89664c"/>
  </g>

  <g class="phone">
    <g class="receiver">
      <path d="M1661.75 683.633c-15.47-9.478-46.072-16.112-81.046-16.112-40.355 0-74.993 8.53-87.1 20.536-8.406 7.9-13.787 19.588-13.787 32.857 0 11.69 72.64 11.69 72.64 0 0-8.846-2.355-17.06-6.39-24.01 10.76-1.58 22.53-2.212 34.973-2.212 12.443 0 24.213.95 34.975 2.212-4.036 6.635-6.39 15.165-6.39 24.01 0 11.69 72.64 11.69 72.64 0-.674-16.427-8.745-30.328-20.515-37.28" fill="#676e72"/>
      <path d="M1533.287 689.32c4.708 7.582 17.487 26.854 9.416 34.436 17.824-.632 1.01-31.277-9.416-34.436M1662.76 689.32c4.707 7.582 17.486 26.854 9.415 34.436 17.487-.632 1.01-31.277-9.416-34.436" fill="#333"/>
    </g>
    <path d="M1666.794 803.768c0 2.595-6.053 4.72-13.45 4.72H1508.4c-7.4 0-13.452-2.125-13.452-4.72v-8.612h171.844v8.612" fill="#676e72"/>
    <path d="M1666.794 795.156h-172.18s16.142-35.7 38-35.7h96.18c21.86 0 38 35.7 38 35.7" fill="#333"/>
    <path d="M1648.635 780.94h-135.862s12.443-56.868 29.93-56.868h75.666c17.486 0 30.265 56.867 30.265 56.867" fill="#676e72"/>
    <path d="M1610.298 680.474c-3.7 3.16-6.39 12.953-10.762 15.48-8.07 4.424-29.593 4.424-37.664 0-4.036-2.527-7.062-12.32-10.76-15.48-2.692-2.21-11.772-2.527-13.453 0-5.045 7.582 10.088 27.486 18.83 30.96 11.1 4.424 36.993 4.424 48.09 0 8.744-3.474 24.214-23.378 18.833-30.96-1.68-2.843-10.76-2.21-13.115 0" fill="#333"/>
    <path d="M1630.475 734.182c6.053 20.535-15.806 41.702-50.443 41.702-34.638 0-55.825-20.85-49.1-41.702 5.382-16.428 27.24-27.486 50.108-27.486 22.868.316 44.727 11.058 49.435 27.486" fill="#a59a7c"/>
    <path d="M1628.12 732.286c5.382 19.272-15.468 38.544-48.088 38.544-32.62 0-52.462-19.588-46.41-38.544 4.71-15.48 25.896-25.906 47.755-25.906 21.86 0 42.372 10.426 46.744 25.906" fill="#f9eeb6"/>
    <path d="M1600.882 732.602c1.008 7.898-8.07 14.533-20.178 14.533-12.106 0-20.85-6.95-19.84-14.533 1.008-6.95 10.088-12.32 20.176-12.32 10.09 0 19.17 5.37 19.842 12.32" fill="#a59a7c"/>
    <path d="M1600.21 731.97c.672 7.267-7.736 13.585-19.506 13.585-11.434 0-19.84-6.318-19.168-13.585 1.008-6.634 9.416-11.69 19.504-11.69 9.753 0 18.16 5.056 19.17 11.69" fill="#d1c5b5"/>
    <g fill="#a8a08d">
      <path d="M1575.66 709.855c-3.363 1.896-3.363 4.74-.337 6.635 3.363 1.895 8.744 1.895 11.77 0 3.027-1.896 3.027-4.74-.336-6.635-3.026-1.58-8.07-1.58-11.097 0M1593.82 718.07c.336 2.843 4.37 5.37 9.08 5.37 4.707 0 8.407-2.527 7.734-5.37-.673-2.844-4.708-4.74-9.08-4.74-4.708 0-8.07 2.212-7.735 4.74M1595.837 748.715c.337 4.107 5.38 7.582 11.434 7.582 6.054 0 10.09-3.475 9.08-7.582-.672-4.108-5.716-6.95-11.097-6.95-5.38-.317-9.752 2.842-9.416 6.95M1572.633 762.3c4.372 3.475 11.434 3.475 15.806 0 4.034-3.16 4.034-8.53-.337-11.374-4.036-2.843-10.425-2.843-14.797 0-4.372 3.16-4.708 8.214-.673 11.373M1544.72 748.715c-1.008 4.107 3.028 7.582 9.08 7.582 6.054 0 11.098-3.475 11.435-7.582.336-4.108-3.7-6.95-9.08-6.95s-10.425 2.842-11.434 6.95M1540.35 736.393c3.026 2.528 9.08 2.528 13.45 0 4.036-2.527 4.71-6.318 1.682-8.53-3.026-2.21-8.743-2.21-12.78 0-4.37 2.212-5.38 6.003-2.353 8.53M1568.26 718.07c.338-2.844-3.025-4.74-7.733-4.74-4.372 0-8.744 2.212-9.416 4.74-.672 2.843 2.69 5.37 7.735 5.37s9.08-2.527 9.416-5.37"/>
    </g>
    <g fill="#fff">
      <path d="M1575.66 710.487c-3.363 1.896-3.363 4.74-.337 6.635 3.027 1.895 8.408 1.895 11.77 0 3.027-1.896 3.027-5.055-.336-6.635-3.026-1.895-8.07-1.895-11.097 0M1593.483 718.7c.336 2.845 4.372 5.372 9.08 5.372s8.07-2.527 7.735-5.37c-.673-2.844-4.708-5.055-9.08-5.055-4.372.315-7.735 2.21-7.735 5.054M1595.837 749.346c.337 4.107 5.38 7.9 11.098 7.9 5.717 0 10.09-3.477 9.08-7.9-.673-4.107-5.717-7.266-11.098-7.266-5.38.316-9.416 3.475-9.08 7.266M1572.633 763.563c4.036 3.475 11.098 3.475 15.47 0 4.035-3.475 3.7-8.53-.337-11.69-4.035-2.843-10.425-2.843-14.46 0-4.372 3.16-4.708 8.215-.673 11.69M1545.057 749.346c-1.01 4.107 3.027 7.9 9.08 7.9 5.717 0 11.098-3.477 11.434-7.9.337-4.107-3.698-7.266-9.08-7.266-5.38.316-10.424 3.475-11.433 7.266M1540.686 737.025c3.026 2.528 9.08 2.528 13.45 0 4.037-2.527 4.71-6.318 1.683-8.53-3.028-2.21-8.745-2.21-12.78 0-4.036 2.212-5.38 6.003-2.354 8.53M1568.598 718.7c.336-2.842-3.027-5.053-7.735-5.053-4.372 0-8.407 2.21-9.08 5.054-.672 2.845 2.69 5.372 7.4 5.372 5.043 0 9.078-2.527 9.415-5.37"/>
    </g>
    <path d="M1631.148 756.297l-7.735 3.16-11.434-24.643.335-1.264 19.17 21.483z" fill="#a59a7c"/>
    <path d="M1631.484 755.033l-7.735 3.16-11.435-24.643 4.372-1.264z" fill="#d1c5b5"/>
  </g>

  <g class="bulletin">
    <path d="M901.053 860.776H827.06v78.765l16.78 23.112h57.213z" fill="#fff" transform="matrix(-1.92438 0 0 1.6842 2950.698 -1136.65)"/>
    <path d="M827.06 939.54c5.974.512 12.037.787 16.21 5.984-2.574 2.32-2.574 8.466.57 17.128" fill="#ecdfde" fill-rule="evenodd" transform="matrix(-1.92438 0 0 1.6842 2950.698 -1136.65)"/>
    <path d="M827.06 939.54c6.316.203 12.275 1.105 16.21 5.984-2.574 2.32-2.574 8.466.57 17.128" fill="none" transform="matrix(-1.92438 0 0 1.6842 2950.698 -1136.65)"/>
    <g transform="matrix(.49645 0 0 .44272 1317.482 123.334)" fill="#fb6a59">
      <path d="M-65.474 463.138c-.11.097-8.34-7.15-8.743-7.498-.404-.35-8.503-7.212-8.798-7.658-.294-.446 2.173-2.116 2.283-2.213.11-.098 2.085-2.328 2.49-1.98.403.35 6.165 9.266 6.46 9.712.293.446 6.418 9.54 6.308 9.636z"/>
      <ellipse cx="-292.334" cy="341.75" rx="14.882" ry="11.803" transform="rotate(-29.926)" stroke="#c30000" stroke-width="1.338" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M-103.22 429.243c3.383.146 7.61 5.318 12.185 12.572 3.125 4.955 7.544 1.917 9.024.463 1.383-1.362 4.23-5.327-.622-8.606-7.107-4.8-12.144-9.187-12.184-12.572l-4.2 4.072z" stroke="#c30000" stroke-width="1.338" stroke-linecap="round" stroke-linejoin="round"/>
      <ellipse transform="rotate(-29.926)" ry="9.443" rx="11.906" cy="317.404" cx="-297.522" stroke="#c30000" stroke-width="1.338" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
    <g style="line-height:125%;-inkscape-font-specification:'Impact Condensed'" font-stretch="normal" font-size="20.1093" font-family="Helvetica" letter-spacing="0" word-spacing="0" font-weight="bold">
      <path d="M1228.7336 338.0044h3.08l5.597 10.1037v-10.1036h2.7367v14.4732h-2.9368l-5.7403-10.2805v10.2806h-2.7366v-14.4732zm5.8165-.0295zM1249.1105 350.3174q1.745 0 2.7652-1.3256 1.0297-1.3255 1.0297-3.7705 0-2.435-1.0297-3.7606-1.0203-1.3354-2.7652-1.3354-1.745 0-2.7844 1.3256-1.0392 1.3254-1.0392 3.7703 0 2.445 1.0393 3.7705 1.0395 1.3256 2.7845 1.3256zm6.7318-5.096q0 3.898-2.1263 5.97-1.5924 1.6888-4.6055 1.6888-3.0132 0-4.6056-1.689-2.136-2.0717-2.136-5.97 0-3.9765 2.136-5.9698 1.5923-1.689 4.6055-1.689 3.013 0 4.6055 1.689 2.1263 1.9933 2.1263 5.97zm-6.7318-7.659zM1259.9902 338.0044l1.8594 8.2872.4004 2.3075.41-2.2583 1.5828-8.3363h3.099l1.6687 8.2872.429 2.3075.429-2.219 1.8786-8.3756h2.9846l-3.957 14.4732h-2.8034l-1.6973-8.464-.496-2.7984-.4958 2.7984-1.6973 8.464h-2.727l-3.986-14.4732h3.1182zM1281.8926 352.4776v-14.4732h2.9083v5.5183h5.492v-5.5183h2.918v14.4732h-2.918v-6.461h-5.492v6.461h-2.9084zM1298.7128 352.4776h-2.9178v-14.4732h2.9178v14.4732zm-1.459-14.758zM1304.415 340.518v3.8884h3.3277q.9917 0 1.4875-.2357.8772-.4124.8772-1.63 0-1.3157-.8486-1.7674-.4768-.2553-1.4303-.2553h-3.4136zm4.0238-2.5136q1.478.0295 2.2693.373.801.3438 1.354 1.0115.4578.5497.7248 1.2174.267.6677.267 1.522 0 1.031-.5053 2.0325-.5054.9916-1.6688 1.404.9727.4026 1.3732 1.1488.41.7365.41 2.2584v.972q0 .9918.0766 1.3453.1145.5597.534.8248v.3633h-3.2324q-.1336-.481-.1907-.7757-.1144-.609-.124-1.247l-.0195-1.3453q-.0194-1.3845-.4958-1.846-.4672-.4615-1.764-.4615h-3.0322v5.6754h-2.8702v-14.4732h6.894zM1318.279 352.4776h-2.9176v-14.4732h2.9177v14.4732zm-1.4588-14.758zM1320.9967 338.0044h3.0798l5.5972 10.1037v-10.1036h2.7366v14.4732h-2.9368l-5.7403-10.2805v10.2806h-2.7365v-14.4732zm5.8165-.0295zM1344.606 342.521q-.3338-1.4825-1.6306-2.0717-.7247-.324-1.6114-.324-1.6973 0-2.794 1.3256-1.087 1.3156-1.087 3.9667 0 2.6708 1.1825 3.7803 1.1824 1.1096 2.689 1.1096 1.478 0 2.422-.874.944-.8836 1.1632-2.3074h-3.2516v-2.4154h5.8548v7.7668h-1.9452l-.2956-1.8067q-.8487 1.031-1.5256 1.453-1.1633.7365-2.8606.7365-2.794 0-4.577-1.9932-1.8593-2.003-1.8593-5.479 0-3.5152 1.8784-5.636 1.8783-2.121 4.9678-2.121 2.6794 0 4.3004 1.404 1.6305 1.3944 1.869 3.4858h-2.8893zm-3.2897-4.8897z" style="-inkscape-font-specification:'Helvetica Bold'"/>
    </g>
    <path d="M1228.39 373.94h60.333M1228.36 391.355h60.335M1228.47 379.72h60.332M1228.363 385.498h60.333M1228.39 397.156h60.333M1228.36 414.57h60.335M1228.47 402.935h60.332M1228.363 408.714h60.333M1228.226 420.097h60.333M1228.197 437.512h60.334M1228.305 425.876h60.333M1228.2 431.655h60.332" fill="#552512" stroke="#000" stroke-width="3.121"/>
    <path d="M1291.03 373.925h55.77M1291.005 391.268h55.77M1291.105 379.68h55.77M1291.007 385.435h55.77M1291.03 397.045h55.77M1291.005 414.39h55.77M1291.105 402.8h55.77M1291.007 408.555h55.77M1290.88 419.892h55.77M1290.854 437.235h55.77M1290.953 425.647h55.77M1290.855 431.402h55.77" fill="#552512" stroke="#000" stroke-width="2.994"/>
  </g>

  </svg>
</div>
