<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    { Email from <%= @name %> at <%= @email %> } <br><br>
    <%= @body %>
  </body>
</html>
