@import "bootstrap-sprockets";
@import "bootstrap";
@import "lightbox-bootstrap";

html, body {
  height:100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    color: #fff;
    line-height: 23px;
    letter-spacing: 0.02em;
}

.notifications {
  position: fixed;
  top: 60px;
  right: 0;
  left: 90px;
  z-index: 1030;
  padding: 7px 35px;
}

.alert, .notice {
  padding: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

section {
  position: relative;
}

.row{
  margin: 0;
}

.hidden {
  display: none;
}

.down-arrow, .up-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  /* display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);  */
  padding-top: 50px;
}

.down-arrow:hover, .up-arrow:hover {
	opacity: .5;
}

.down-arrow span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 28px;
	height: 28px;
	margin-left: -14px;
	border-left: 1.5px solid #fff;
	border-bottom: 1.5px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
  opacity: 1;
	box-sizing: border-box;
}

.run-animation {
  -webkit-animation: arrow 2s 3;
  animation: arrow 2s 3;
}

.up-arrow span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 28px;
	height: 28px;
	margin-left: -14px;
	border-right: 1.5px solid #fff;
	border-top: 1.5px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
  opacity: 1;
	box-sizing: border-box;
}

.down-arrow span:nth-of-type(1), .up-arrow span:nth-of-type(1){
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.down-arrow span:nth-of-type(2), .up-arrow span:nth-of-type(2){
	top: 6px;
	-webkit-animation-delay: .1s;
	animation-delay: .1s;
}
.down-arrow span:nth-of-type(3), .up-arrow span:nth-of-type(3){
	top: 12px;
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
}

@keyframes arrow {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}




/* ===================================
    Typography
====================================== */

/* font family */
.alt-font {font-family: "Oswald",sans-serif;}
.main-font {font-family: 'Open Sans', sans-serif;}


/* ===================================
    Navigation
====================================== */

.main_nav {
  width: 100%;
  top: 0px;
  z-index: 99;
}

.main_nav .container{
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.sticky-nav{
  position: fixed;
  top: 0px;
  /*display: inline-table;*/
}

.logo {
  max-width: 100px;
}

#logo-flower {
  opacity: 0;
}

#logo-link:hover #logo-flower {
  opacity: 1;
}

#logo-link:hover .logo-background {
  stroke: #FA9883;
}

.initials {
  opacity: 0;
  stroke: #fff;
  stroke-width: 30;
  stroke-dasharray: 54500;
  animation: draw_initials 4s 3s reverse 1 forwards;
}

.logo-background {
  stroke-dasharray: 54500;
  stroke: #4d173c;
  stroke-width: 15;
  animation: draw_logo 4s reverse 1;
}

@keyframes draw_logo {
  from {
    stroke-dashoffset: 0;
  } to {
    stroke-dashoffset: 54500;
  }
}

@keyframes draw_initials {
  from {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  to {
    stroke-dashoffset: 54500;
    opacity: 1;
  }
}

.sticky-nav .logo {
  height: 97px;
  /* width: 90px; */
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.back-button,
.navbar-default .main_nav > li > a,
.navbar-default .main_nav > li > a:focus,
.portfolio-filter > li > a{
  color: #fff;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 5px 20px;
}

.active,
.back-button:active,
.back-button:hover,
.navbar-default .main_nav > li > a:active,
.navbar-default .main_nav > li > a:hover {
  border-bottom: 2px solid #4d173c !important;
  font-weight: bold !important;
  color: #4d173c !important;
  text-decoration: none;
}

.navbar-default {
  background:transparent;  /* change upon scroll */
  border-bottom:0px;
}
/* TODO: Add JS for scroll nav */
.main_navbar.scroll {	min-height: 70px;}
.navbar-default.scroll {	border-bottom: 1px solid #555;	background-color: #333;}

/* ===================================
    Home Page
====================================== */

.container {
  width: 100%;
  padding-right: 0;
}

section{
  min-height: 650px;
}

.signature-div {
  z-index: 1;
}

.signature-svg {
  position: absolute;
  padding-left: 3px;
  top: 700px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.signature-path {
  stroke-dasharray: 59000;
  animation: draw_signature 4s reverse 1;
}

@keyframes draw_signature {
  from {
    stroke-dashoffset: 0;
  } to {
    stroke-dashoffset: 59000;
  }
}

.flower-path {
  stroke-dasharray: 25000;
  animation: draw_flowers 4s reverse 1;
}

@keyframes draw_flowers {
  from {
    stroke-dashoffset: 0;
  } to {
    stroke-dashoffset: 25000;
  }
}

.flower-path {
  transition: 300ms all;
  transform-origin: 50% 50%;
}


.left-flower-fill, .middle-flower-fill {
  opacity: 0.5;
  fill: #A41545;
  /* fill: url(#leftGradient); */
}

.right-flower-fill {
  opacity: 0.5;
  fill: #A41545;
  /* fill: url(#rightGradient); */
}

.left-flower-top, .middle-flower-top, .right-flower-top {
  stroke: #fff;
  stroke-width: 15;
}

.left-flower-bottom, .middle-flower-bottom, .right-flower-bottom {
  stroke: #fff;
  stroke-width: 8;
}

#left-flower:hover {
  transform: scale(1.2) translate(-30%, -40%);
}

#middle-flower:hover {
  transform: scale(1.2) translate(-33%, -30%);
}

#right-flower:hover {
  transform: scale(1.2) translate(-34%, -35%);
}

#left-flower:hover .left-flower-img,
#middle-flower:hover .middle-flower-img,
#right-flower:hover .right-flower-img{
  opacity: 1;
}

#left-flower:hover .left-flower-fill,
#middle-flower:hover .middle-flower-fill,
#right-flower:hover .right-flower-fill{
  opacity: 0;
}

#left-flower:hover .left-flower-top,
#middle-flower:hover .middle-flower-top {
  stroke: #4d173c;
  stroke-width: 20;
}

#right-flower:hover .right-flower-top{
  stroke: #4d173c;
  stroke-width: 20;
}

#left-flower:hover .left-flower-bottom,
#middle-flower:hover .middle-flower-bottom {
  stroke: #EF3F56;
  stroke-width: 8;
}

#right-flower:hover .right-flower-bottom{
  stroke: #FA9883;
  stroke-width: 8;
}



/* ===================================
    Other Pages
====================================== */


.main_img {
  width: 100%;
  padding: 0;
}
.padding-top-60{
  padding: 60px 0;
}

#home { z-index: 5;
  background-color: #FA9883;
  background: -webkit-linear-gradient(left, #EF3F56, #FA9883);
  background: -webkit-linear-gradient(left, #EF3F56, #FA9883); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #EF3F56, #FA9883); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #EF3F56, #FA9883); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #EF3F56, #FA9883); /* Standard syntax (must be last) */
} /*Desire to Peach*/
#about {
  background-color: #A41545;
  background: -webkit-linear-gradient(left, #96445F, #4d173c);
  background: -webkit-linear-gradient(left, #96445F, #4d173c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #96445F, #4d173c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #96445F, #4d173c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #96445F, #4d173c); /* Standard syntax (must be last) */
} /*Peach to Wine*/
#skills {
  padding: 60px 0;
  background-color:#4d173c;
  background: -webkit-linear-gradient(left, #EF3F56, #FA9883);
  background: -webkit-linear-gradient(left, #EF3F56, #FA9883); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #EF3F56, #FA9883); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #EF3F56, #FA9883); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #EF3F56, #FA9883); /* Standard syntax (must be last) */
} /*Eggplant*/
#portfolio {
  padding: 60px 0;
  background-color:#854F4E;
  background: -webkit-linear-gradient(left, #96445F, #4d173c);
  background: -webkit-linear-gradient(left, #96445F, #4d173c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #96445F, #4d173c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #96445F, #4d173c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #96445F, #4d173c); /* Standard syntax (must be last) */
} /*Brown*/
#contact {
  background-color:#EF3F56;
  background: -webkit-linear-gradient(left, #EF3F56, #FA9883);
  background: -webkit-linear-gradient(left, #EF3F56, #FA9883); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #EF3F56, #FA9883); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #EF3F56, #FA9883); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #EF3F56, #FA9883); /* Standard syntax (must be last) */
} /*Peach to Wine*/

.personal-name h1 {font-size:45px; letter-spacing:3px; line-height: 50px;}
.title-number {color: #fff; display: block; font-size: 55px; font-weight: 100; margin-bottom: 25px; left: -1px; letter-spacing: -2px; position:relative }
.margin-six{ margin-top:10%; margin-bottom:10%}
.section-title{ text-transform: uppercase; font-weight: 500; font-size: 30px; letter-spacing: 1px; padding: 0 0 0px 0;}
.text-large { font-size: 20px; line-height: 30px; letter-spacing: 2px;}
.highlight-button { display: inline-block; padding: 8px 20px 9px; font-size: 20px; background-color: #fac3a4;   }
img.img-responsive { display: table-cell; max-width: 100%; }
.medium-icon {
    font-size: 50px;
	color: #fff;
    margin-bottom: 10px;
}
.section-icon {
    font-size: 40px;
	font-weight: bold;
	border: 2px solid #fff;
	border-radius: 50%;
	background-color: #fff;
	width: 80px;
    height: 80px;
	padding: 15px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

/* General */
.float-left { float:left}
.float-right{ float:right}
.no-float { float:none;}
.no-margin{ margin:0 !important}
.no-padding{ padding:0 !important}

/* Form */
input, textarea {
  border: 1px solid #dfdfdf;
  letter-spacing: 1px;
  font-size: 11px;
  padding: 8px 15px;
  width: 100%;
  margin: 15px 0 0 0;
  max-width: 100%;
  resize: none;
}

input[type="submit"] { width: auto}
input[type="button"], input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea, input[type="submit"] { -webkit-appearance: none;  border-radius: 0; }
input:focus, textarea:focus{ border: 1px solid #989898; }
input[type="submit"]:focus { border:none !important}
#contact textarea { min-height: 150px}
#contact .btn {	margin: 0;}
.btn:hover {border: 2px solid #000; color: #000; background-color: transparent}

.social-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.social-links {
    color: #fff;
    position: relative;
    z-index: 2;
}


/* ===================================
    Social Icons
====================================== */

.svg--icon {
  position: relative;
  z-index: -1;
  pointer-events: none;
  width: 100%;
  max-width: 5rem;
  height: 100%;
  max-height: 5rem;
  display: block;
  margin: 0 auto;
  fill: #fff;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.circle_border {
  width: 5rem;
  height: 5rem;
  float: left;
  margin: .5rem 1rem .5rem 0;
  color: #353c4a;
  border: .125rem solid #f3f3f3;
  box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
  border-radius: 50%;
  transition: 250ms;
}

.circle_border:hover {
    border-color: #4d173c;
    background-color: rgba(255,255,255,0.25);
    box-shadow: 0 0 24px 0 #4d173c;
}

.circle_border:hover .svg--icon{
    fill: #4d173c;
}

a.circle_border {
 position: relative;
 display: block;
 z-index: 1;
}

a.circle_border:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

/* ===================================
    Send Message Button Animation
====================================== */

#contactform {
  width: 90%;
  margin: auto;
  font-size: 16px;
  color: black;
}

label.error {
  display: hidden;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #4d173c;
}

.submit-button:focus {
  outline: none;
}

.submit-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

#box {
  fill: #EF3F56;
  stroke: #fff;
}

.button_border {
  margin: 15px 0 0 0;
  color: #353c4a;
  border: .125rem solid #f3f3f3;
  box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
  border-radius: 20px;
  transition: 250ms;
}

#send, #plane {
  fill: #fff;
}
#sent, #check-mark {
  fill: #4d173c;
  opacity: 0;
}

#send-button:hover #plane, #send-button:hover #send {
  fill: #4d173c;
}

#send-button:hover #box {
  stroke: #4d173c;
}

.button_border:hover {
    border-color: #4d173c;
    background-color: rgba(255,255,255,0.25);
    box-shadow: 0 0 24px 0 #4d173c;
}

.fly {
    -webkit-transform: translate(100px, -50px);
    -moz-transform: translate(100px, -50px);
    -o-transform: translate(100px, -50px);
    -ms-transform: translate(100px, -50px);
    transform: translate(100px, -50px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.appears {
    -webkit-animation: fadeIn 0.4s ease-out;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.4s;
    -moz-animation: fadeIn 0.4s ease-out;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    -moz-animation-delay: 0.4s;
    animation: fadeIn 0.4s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
   100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.disappears {
    -webkit-animation: fadeOut 0.4s ease-out;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.4s;
    -moz-animation: fadeOut 0.4s ease-out;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    -moz-animation-delay: 0.4s;
    animation: fadeOut 0.4s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}

@-webkit-keyframes fadeOut {
    0% { opacity: 1; }
   100% { opacity: 0; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


.copyright {
	background-color: #4d173c;
}


/* ===================================
    Skills Chart
====================================== */

#skills-info-wrapper {

}

#skills-info {
  width: 300px;
  height: 400px;
  margin-top: 150px;
  background: rgba(77,23,60, 0.5);
  padding: 20px;
  color: white;
  font-size: 20px;
}

.skills-path {
  stroke: #fff;
  fill-rule: evenodd;
}

text {
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: normal;
    pointer-events: none;
    fill: white;
}

.skills-svg {
    margin: auto;
}

.highlighted-path {
  fill: orange!important;
  opacity: 1!important;
}

.highlighted-text {
  fill: black!important;
}

.hidden {
  visibility: hidden;
}

/* ===================================
    Portfolio
====================================== */

#portfolio .container-fluid {
  padding: 0 0 20px 0;
}

.portfolio-filter > button,
.portfolio-filter > button:focus{
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 15px 25px;
  border: none;
  border-bottom: 2px solid transparent;
  color: #fff;
  background: transparent;
  outline: none;
}

.portfolio-filter > button > a {
  text-decoration: none;
  color: #fff;
}

.portfolio-active,
.portfolio-filter > button:hover,
{
  border-bottom: 2px solid #ef3f56 !important;
  color: #ef3f56 !important;
  background-color: transparent !important;
}

#projects {
  margin: 0;
}

.grid-item {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  #projects .col-sm-6 {
    width: 49.9%;
}}

@media (min-width: 992px) {
  #projects .col-md-4 {
    width: 33.3%;
}}

.grid-item a {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.overlay:hover {
    opacity: 1;
}

.image-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #EF3F56;
  opacity: 0.75;
}

.text-overlay {
  position: absolute;
  font-size: 24px;
  line-height: 32px;
  width: 100%;
  color: #FFF;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.project_title{
  display: block;
}

.project_subtitle{
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  margin: 10px 5px 0 5px;
  font-weight: 700;
}

a img {
  width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
  border: 0;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* ===================================
    Project Page
====================================== */

#project-detail-section {
  padding: 60px 0;
  background-color:#4d173c;
  background: -webkit-linear-gradient(left, #EF3F56, #FA9883);
  background: -webkit-linear-gradient(left, #EF3F56, #FA9883); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #EF3F56, #FA9883); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #EF3F56, #FA9883); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #EF3F56, #FA9883); /* Standard syntax (must be last) */
}

.back-button {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  position: relative;
  display: block;
}

.project-title {
  font-size: 3em;
  margin: 0;
  font-family: 'Great Vibes', cursive;
}
.project-subtitle {
  margin: 0 0 30px 0;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
  //font-weight: bold;
}

/* ===================================
    Login
====================================== */

.new_user, .new_project, .edit_project {
  color: black;
}

.new_user input, .new_project input, .edit_project input {
  width: auto;
  margin: 0 0 15px 0;

}
