@import "bootstrap-sprockets";
@import "bootstrap";
@import "lightbox-bootstrap";

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  padding: 0;
}

html, body {
  height:100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    color: #fff;
    line-height: 23px;
    letter-spacing: 0.02em;
}

.notifications {
  position: fixed;
  top: 60px;
  right: 0;
  left: 90px;
  z-index: 1030;
  padding: 7px 35px;
}

.alert, .notice {
  padding: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

section {
  position: relative;
}

.row{
  margin: 0;
}

.hidden {
  display: none;
}

.down-arrow, .up-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  /* display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);  */
  padding-top: 50px;
}

.down-arrow:hover, .up-arrow:hover {
	opacity: .5;
}

.down-arrow span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 28px;
	height: 28px;
	margin-left: -14px;
	border-left: 1.5px solid #fff;
	border-bottom: 1.5px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
  opacity: 1;
	box-sizing: border-box;
}

.run-animation {
  -webkit-animation: arrow 2s 3;
  animation: arrow 2s 3;
}

.up-arrow span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 28px;
	height: 28px;
	margin-left: -14px;
	border-right: 1.5px solid #fff;
	border-top: 1.5px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
  opacity: 1;
	box-sizing: border-box;
}

.down-arrow span:nth-of-type(1), .up-arrow span:nth-of-type(1){
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.down-arrow span:nth-of-type(2), .up-arrow span:nth-of-type(2){
	top: 6px;
	-webkit-animation-delay: .1s;
	animation-delay: .1s;
}
.down-arrow span:nth-of-type(3), .up-arrow span:nth-of-type(3){
	top: 12px;
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
}

@keyframes arrow {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}




/* ===================================
    Typography
====================================== */

/* font family */
.alt-font {font-family: "Oswald",sans-serif;}
.main-font {font-family: 'Open Sans', sans-serif;}


/* ===================================
    Navigation
====================================== */

.main_nav {
  width: 100%;
  top: 0px;
  z-index: 99;
}

.main_nav .container{
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.main_nav a{
  text-align: center;
}

.sticky-nav{
  position: fixed;
  top: 0px;
  /*display: inline-table;*/
}

.logo {
  max-width: 100px;
}

#logo-flower {
  opacity: 0;
}

#logo-link:hover #logo-flower {
  opacity: 1;
}

#logo-link:hover .initials {
  stroke: #4d173c;
}

.initials {
  stroke: #fff;
  stroke-width: 30;
  stroke-dasharray: 25000;
  /*animation: draw_initials 4s 3s reverse 1 forwards; */
}

.logo-background {
  stroke-dasharray: 60000;
  stroke: #4d173c;
  stroke-width: 15;
}
/*
@keyframes draw_initials {
  from {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  to {
    stroke-dashoffset: 54500;
    opacity: 1;
  }
}*/

.sticky-nav .logo {
  height: 97px;
  /* width: 90px; */
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.back-button,
.navbar-default .main_nav > li > a,
.navbar-default .main_nav > li > a:focus,
.portfolio-filter > li > a{
  color: #fff;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 5px 20px;
}

.active,
.back-button:active,
.back-button:hover,
.navbar-default .main_nav > li > a:active,
.navbar-default .main_nav > li > a:hover {
  border-bottom: 2px solid #4d173c !important;
  font-weight: bold !important;
  color: #4d173c !important;
  text-decoration: none;
}

.navbar-default {
  background:transparent;  /* change upon scroll */
  border-bottom:0px;
}
/* TODO: Add JS for scroll nav */
.main_navbar.scroll {	min-height: 70px;}
.navbar-default.scroll {	border-bottom: 1px solid #555;	background-color: #333;}

/* ===================================
    Home Page
====================================== */

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

section{
  min-height: 650px;
}

.signature-div {
  z-index: 1;
}

.signature-svg {
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  top: 150px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

@media only screen
and (min-width : 992px) {
  .signature-svg {
    top: 30px;
  }
}

@media only screen
and (min-width : 1150px) {
  .signature-svg {
    top: 70px;
  }
}

@media only screen
and (min-width : 1400px) {
  .signature-svg {
    top: 150px;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1023px)
and (orientation : portrait) {
  .signature-svg {
    top: 300px;
  }
}


.signature-path {
  stroke-dasharray: 59000;
}

.flower-path {
  stroke-dasharray: 25000;
}

.leaves {
  opacity: 0.75;
}

.left-flower-fill, .middle-flower-fill {
  opacity: 0.5;
  fill: #A41545;
  /* fill: url(#leftGradient); */
}

.right-flower-fill {
  opacity: 0.5;
  fill: #A41545;
  /* fill: url(#rightGradient); */
}

.left-flower-top, .middle-flower-top, .right-flower-top {
  stroke: #fff;
  stroke-width: 15;
}

.left-flower-bottom, .middle-flower-bottom, .right-flower-bottom {
  stroke: #fff;
  stroke-width: 8;
}


/* ===================================
    Other Pages
====================================== */


.main_img {
  width: 100%;
  padding: 0;
}

.arrow_row {
  height: 80px;
}

.padding-top-60{
  padding-top: 60px;
}

.padding-right-50 {
  padding-right: 50px;
}

#home { z-index: 5;
  background-color: #FA9883;
  background: -webkit-linear-gradient(left, #EF3F56, #FA9883);
  background: -webkit-linear-gradient(left, #EF3F56, #FA9883); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #EF3F56, #FA9883); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #EF3F56, #FA9883); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #EF3F56, #FA9883); /* Standard syntax (must be last) */
} /*Desire to Peach*/
#about {
  background-color: #A41545;
  background: -webkit-linear-gradient(left, #96445F, #4d173c);
  background: -webkit-linear-gradient(left, #96445F, #4d173c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #96445F, #4d173c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #96445F, #4d173c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #96445F, #4d173c); /* Standard syntax (must be last) */
} /*Peach to Wine*/
#skills {
  padding: 60px 0;
  background-color:#4d173c;
  background: -webkit-linear-gradient(left, #EF3F56, #FA9883);
  background: -webkit-linear-gradient(left, #EF3F56, #FA9883); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #EF3F56, #FA9883); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #EF3F56, #FA9883); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #EF3F56, #FA9883); /* Standard syntax (must be last) */
} /*Eggplant*/
#portfolio {
  padding: 60px 0;
  background-color:#854F4E;
  background: -webkit-linear-gradient(left, #96445F, #4d173c);
  background: -webkit-linear-gradient(left, #96445F, #4d173c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #96445F, #4d173c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #96445F, #4d173c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #96445F, #4d173c); /* Standard syntax (must be last) */
} /*Brown*/
#contact {
  background-color:#EF3F56;
  background: -webkit-linear-gradient(left, #EF3F56, #FA9883);
  background: -webkit-linear-gradient(left, #EF3F56, #FA9883); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #EF3F56, #FA9883); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #EF3F56, #FA9883); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #EF3F56, #FA9883); /* Standard syntax (must be last) */
} /*Peach to Wine*/

.section-title{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 40px;
  padding: 0;
  margin: -15px 0 30px 0;
}

.section-subtitle {
  font-size: 35px;
  margin: 0;
  font-family: 'Great Vibes', cursive;
}

.purple-font{
  color: #4d173c;
}

.peach-font{
  color: #FA9883;
}

.space-neg {
  letter-spacing: -1px;
}

.space-1 {
  letter-spacing: 1px;
}

.space-2 {
  letter-spacing: 2px;
}
.space-6 {
  letter-spacing: 6px;
}

.oneliner {
  font-size: 20px;
  margin-bottom: 20px;
}

.about-text {
  font-size: 17px;
  margin-bottom: 20px;
}

.highlight-button {
  display: inline-block;
  padding: 8px 20px 9px;
  font-size: 20px;
  background-color: #FA9883;
}

/* General */
.float-left { float:left}
.float-right{ float:right}
.no-float { float:none;}
.no-margin{ margin:0 !important}
.no-padding{ padding:0 !important}

/* Form */
input, textarea {
  border: 1px solid #dfdfdf;
  letter-spacing: 1px;
  font-size: 11px;
  padding: 8px 15px;
  width: 100%;
  margin: 15px 0 0 0;
  max-width: 100%;
  resize: none;
}

input[type="submit"] { width: auto}
input[type="button"], input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea, input[type="submit"] { -webkit-appearance: none;  border-radius: 0; }
input:focus, textarea:focus{ border: 1px solid #989898; }
input[type="submit"]:focus { border:none !important}
#contact textarea { min-height: 150px}
#contact .btn {	margin: 0;}
.btn:hover {border: 2px solid #000; color: #000; background-color: transparent}

.social-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.social-links {
    color: #fff;
    position: relative;
    z-index: 2;
}


/* ===================================
    Social Icons
====================================== */

.svg--icon {
  position: relative;
  z-index: -1;
  pointer-events: none;
  width: 100%;
  max-width: 5rem;
  height: 100%;
  max-height: 5rem;
  display: block;
  margin: 0 auto;
  fill: #fff;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.circle_border {
  width: 5rem;
  height: 5rem;
  float: left;
  margin: .5rem 1rem .5rem 0;
  color: #353c4a;
  border: .125rem solid #f3f3f3;
  box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
  border-radius: 50%;
  transition: 250ms;
}

.circle_border:hover {
    border-color: #4d173c;
    background-color: rgba(255,255,255,0.25);
    box-shadow: 0 0 24px 0 #4d173c;
}

.circle_border:hover .svg--icon{
    fill: #4d173c;
}

a.circle_border {
 position: relative;
 display: block;
 z-index: 1;
}

a.circle_border:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

/* ===================================
    Send Message Button Animation
====================================== */

#contactform {
  width: 90%;
  margin: auto;
  font-size: 16px;
  color: black;
}

#thank-you-message {
  color: #fff;
  font-size: 18px;
}

label.error {
  display: hidden;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #4d173c;
}

.submit-button:focus {
  outline: none;
}

.submit-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

#box {
  fill: #EF3F56;
  stroke: #fff;
}

.button_border {
  margin: 15px 0 0 0;
  color: #353c4a;
  border: .125rem solid #f3f3f3;
  box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
  border-radius: 20px;
  transition: 250ms;
}

#send, #plane {
  fill: #fff;
}
#sent, #check-mark {
  fill: #4d173c;
  opacity: 0;
}

.copyright {
	background-color: #4d173c;
}


/* ===================================
    Skills Chart
====================================== */

#skills-info-wrapper {
}

#skills-info {
  width: 85%;
  height: 400px;
  margin-top: 150px;
  background: rgba(77,23,60,1);
  padding: 20px;
  color: white;
  font-size: 20px;
}

#skills-name {
  text-transform: uppercase;
}

#skills-years {
  font-size: 16px;
  font-style: italic;
}

#skills-hr {
  margin: 5px;
}

#skills-description {
  font-size: 16px;
}

.skills-path {
  stroke: #fff;
  fill-rule: evenodd;
}

text {
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: normal;
    pointer-events: none;
    fill: white;
}

.skills-svg {
    margin: auto;
}

.highlighted-path {
  fill: orange!important;
  opacity: 1!important;
}

.highlighted-text {
  fill: black!important;
}

.hidden {
  visibility: hidden;
}

/* ===================================
    Portfolio
====================================== */

#portfolio .container-fluid {
  padding: 0 0 20px 0;
}

.portfolio-img {
  width: 100%;
}

.portfolio-hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.portfolio-filter > button,
.portfolio-filter > button:focus{
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 15px 25px;
  border: none;
  border-bottom: 2px solid transparent;
  color: #fff;
  background: transparent;
  outline: none;
}

.portfolio-filter > button > a {
  text-decoration: none;
  color: #fff;
}

.portfolio-active,
.portfolio-filter > button:hover,
{
  border-bottom: 2px solid #FA9883 !important;
  color: #FA9883 !important;
  background-color: transparent !important;
}

#projects {
  margin: 0;
}

.grid-item {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  #projects .col-sm-6, #letterings .col-sm-6 {
    width: 49.5%;
}}

@media (min-width: 992px) {
  #projects .col-md-4, #letterings .col-md-4 {
    width: 33%;
}}

.grid-item a {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.overlay:hover {
    opacity: 1;
}

.image-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #EF3F56;
  opacity: 0.75;
}

.text-overlay {
  position: absolute;
  font-size: 24px;
  line-height: 32px;
  width: 100%;
  color: #FFF;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.project_title{
  display: block;
}

.project_subtitle{
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  margin: 10px 5px 0 5px;
  font-weight: 700;
}

a img {
  width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
  border: 0;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.modal-body {
  padding: 0;
}
.modal-footer {
  color: #505050;
  text-align: center;
  font-weight: bold;
  background-color: #DCDCDC;
  padding: 5px;
  text-transform: uppercase;
}

/* ===================================
    Project Page
====================================== */

#project-detail-section {
  padding: 60px 0;
  background-color:#4d173c;
  background: -webkit-linear-gradient(left, #EF3F56, #FA9883);
  background: -webkit-linear-gradient(left, #EF3F56, #FA9883); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #EF3F56, #FA9883); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #EF3F56, #FA9883); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #EF3F56, #FA9883); /* Standard syntax (must be last) */
}

.back-button {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  position: relative;
  display: block;
}

.project-title {
  font-size: 3em;
  margin: 0;
  font-family: 'Great Vibes', cursive;
}

.project-subtitle {
  margin: 0 0 30px 0;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
  //font-weight: bold;
}

/* ===================================
    Login
====================================== */

.new_user, .new_project, .edit_project, .new_lettering, .edit_lettering {
  color: black;
}

.new_user input, .new_project input, .edit_project input, .new_lettering input, .edit_lettering input {
  width: auto;
  margin: 0 0 15px 0;

}

/* ===================================
    Responsive
====================================== */


@media (max-width: 992px)
{
    #main_img_2 { display: none; }
    #main_img_3 { display: none; }
    #skills-info { margin-top: 0; }
}
